/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --section-gap: 160px;
  --bg:#fff0e0;
  --card: #864340;
  --text: #FFF3E8;
  --muted: #ada69f;
  --accent: #fd5757;
  --accent-soft: #ff6d6d;
  --shadow: 0 8px 20px rgba(2, 2, 2, 0.274);
  --radius: 30px;
}

:root{
  --navbar-bg: #7a402d;
  --router-link-color: #ff8a65;
  --router-link-hover-color: #fd835ee0;
  --router-link-muted-color: #FFB28A;

  --carousel-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --canvas-shadow: var(--carousel-shadow);
}

/*Mintakészítő*/
:root {
  --mk-szovegdoboz: #550300e8;
  --mk-szovegdoboz-masod: #720b18cc;
  --mk-hatterszin: #a17a7a8e;
  --mk-radioszin: #9e3636a8;
  --mk-gomb-foszin: #5f0808b5;
  --mk-gomb-masodszin: #b44848ba;
  --mk-visszagomb: #5f3030cf;
  --mk-arnyekszin: #727171;
  --mk-checkbox: #c2afaf;
  --mk-oldalsav: #7d7287ab;
  --mk-oldaldoboz: #773838ee;
  --mk-text-dark: #000000;
  --mk-text-light: #e0dddd;
}

/*Blog*/
:root {
  /*--b-kartya: #a08283; vagy #906767 vagy a #551515 és az #ffffff mixéből valami*/
  --b-kartya: linear-gradient(135deg, #864340 0%, #a08283 100%);
  --b-tag: #7e6456e6; /* vagy #c71a40a4 */
  --b-tag-hover: #884340e6; /* vagy #c78b7c */
  --b-gomb: #551515;
  --b-gomb-hover: #944e4e;
  --b-text-dark: #2C1810;
  --b-text-light: #F8F4F0;
  --b-transition-time: 0.3s;
  --b-card-shadow: 0 4px 20px rgba(136, 67, 64, 0.15);
  --b-card-shadow-hover: 0 8px 30px rgba(136, 67, 64, 0.25);
  --b-komment-fo: #f1e0cf;
  --b-hatter: #c9a785;
}

/*Index blog kártyák*/
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}


