/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --section-gap: 160px;
  --bg:#ffe9d4;
  --card: #864340;
  --text: #FFF3E8;
  --muted: #ada69f;
  --accent: #fd5757;
  --accent-soft: #ff6d6d;
  --shadow: 0 8px 20px rgba(2, 2, 2, 0.274);
  --radius: 30px;
}

:root{
  --navbar-bg: #7a402d;
  --router-link-color: #ff8a65;
  --router-link-hover-color: #fd835ee0;
  --router-link-muted-color: #FFB28A;

  --carousel-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --canvas-shadow: var(--carousel-shadow);
}

/*Mintakészítő*/
:root {
  --mk-szovegdoboz: #937ca9d4;
  --mk-hatterszin: #c7bed5a1;
  --mk-radioszin: #a494bbb3;
  --mk-gomb-foszin: #9d5dadb5;
  --mk-gomb-masodszin: #916280ba;
  --mk-visszagomb: #5c486dcf;
  --mk-arnyekszin: #727171;
  --mk-checkbox: #2f0b49;
  --mk-oldalsav: #7d7287ab;
  --mk-text-dark: #000000;
  --mk-text-light: #b5b3b3;
}

/*Index blog kártyák*/
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}