@import './base.css';

/* Oladl stílusok */
h2 {
  color: #7a402d;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff8a65;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
}

body {
  margin: 0 auto;
  background-color: rgb(255, 233, 212);
}

