@import './base.css';

/* Oladl stílusok */
h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
}

body {
  margin: 0 auto;
  background-color: var(--bg);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

